@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.blue {
    color: rgb(2, 107, 86);
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 160px;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #242424;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    border: 2px solid rgb(187, 225, 187);
    border-radius: 10px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgb(227, 247, 239);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 56px;
    color: rgb(2, 107, 86);
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

